@model IEnumerable<NewsWebsite.Models.Article>
@{
    ViewBag.Title = "Search";
}

@if (!Request.IsAuthenticated)
{
    <span>You must logged in to reach this page.</span>
}
else
{
    if (!ViewBag.isSearched)
    {
        <div class="card-body">
            <header>
                <h3 class="card-title">Advanced Search</h3><br />
            </header>
            <form id="needs-validation" novalidate="" action="/Search/Index" method="get">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Article's title</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="Part of the title" name="title" autocomplete="off">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Article's author</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="e.g. Mark" name="author" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom03">Part of the description</label>
                        <input type="text" class="form-control" id="validationCustom03" placeholder="Part of the description" name="desc" autocomplete="off">
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Category</label>
                        <select id="inputState" class="form-control">
                            <option selected="" name="category">Choose...</option>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Source</label>
                        <input type="text" class="form-control" id="validationCustom05" placeholder="e.g. CNN" name="source" autocomplete="off">
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-primary" type="reset">Clear form</button>
            </form>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';

                    window.addEventListener('load', function () {
                        var form = document.getElementById('needs-validation');
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    }, false);
                })();

                $(function () {
                    $("form").submit(function () {
                        $(this).find(":input").filter(function () { return !this.value; }).attr("disabled", "disabled");
                        return true; // ensure form still submits
                    });

                    // Un-disable form fields when page loads, in case they click back after submission
                    $("form").find(":input").prop("disabled", false);
                });
            </script>
        </div>
    }
    else
    {
        <div class="text-center">
            <h2>Search Result</h2>
            <span class="text-muted">The best results we found for you</span>
            <hr />
        </div>
        <div class="card-columns">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="card">
                        <img class="card-img-top img-fluid" src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="Card image cap">
                        <div class="card-block">
                            <h5 class="card-title fixed-font">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text fixed-fontsize">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">@item.lastUpdated(item.Date)</small>
                        </div>
                    </div>
                }
            }
            else
            {
                <span>Sorry, there are no articles at the moment.</span>
            }
        </div>
    }
}