@model NewsWebsite.Models.Category
@using NewsWebsite.Extensions

@{
    ViewBag.Title = "Details";
}

@if (!Request.IsAuthenticated)
{
    <span>Sorry, you must login in order to access this page.</span>
}
else
{
    if (User.Identity.GetPermission() == 0)
    {
        <span>Sorry, you don't have access to reach this page.</span>
    }
    else
    {

        <h2>Details</h2>

        <div>
            <h4>Category</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}